.container{
margin: 0px auto;
display: flex;
min-height: 100vh;
height: 100vh;
}

.container-login{
flex-basis: 50%;
display: grid;

}

.container-img{
    flex-basis: 50%;
    display: grid;
    place-items: center;
}

.container-img > img{
    max-width: 450px;
    width: 100%;
}